<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>Hi!</title>
</head>
<body>
    
<h1>Hello from Render and I</h1>
{% if name %}
<h2>and hello to {{name}}</h2>
{% endif %}

<!--<form method="POST" action="/">
    <input type="text" name="name" placeholder="Type your name here" required>
    <textarea name="message" placeholder="Leave a message"></textarea>
    <button type="submit">Submit</button>
</form>-->

<!--<h2>Guest List</h2>
<ul>
  {% for guest in guests %}
    <li>{{ guest }}: {{ message }}</li>
  {% endfor %}
</ul>-->
<form action="/submit" method="post">
    <input type="text" required name="name" placeholder="name">
    <textarea name="text"></textarea>
    <button type="submit">submit</button>
</form>
<!--whitespace collapse perseve-->
{% for entry in guestlist %}
<div>
    <h5>{{entry.name}}</h5>
    <div style="white-space-collapse: preserve;">{{entry.text}}</div>
</div>
{% endfor %}
</body>
</html>