<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <title>Hi!</title>
</head>
<header>
    <div class="header">
    <h1>PureCSS</h1>
    </div>
</header>
<body>
    <div class="pure-g">
        <div class="pure-u-2-5"><p>Menu</p></div>
        <!--<list>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>-->
        <div class="pure-u-2-5"><p>Content</p></div>
        <div class="pure-u-1-5"><p>Ads</p></div>
    </div>
</body>
<footer>
    <div class="footer">
    <h3>Footer</h3>
    </div>
</footer>
</html>